<!doctype html>

<html lang="en">
  <head>
    <title>My project page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/tyyli.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">  
  </head>
  <body>

    

    <header>
      <div class="nav-wrapper">
        <nav>
            <ul id= "nav-mobile" class="left hide-on-med-and-down">
                <li id="title">
                Welcome! Please take a look at my projects
                </li>
            </ul>
            </nav>
        </div>
    </header>
    
  <div class="card" id="background">
    
    <div class="row" id="card1">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img  src="/mmorpgShowcase.png" alt= "MMORPG">
            <span class="card-title">MMORPG</span>
          </div>
          <div class="card-content">
            <p>C++ course project featuring 3D graphics with Opengl
              and network "play".
            </p>
          </div>
          <div class="card-action">
            <a href="https://github.com/OsoWiz/mmorpg">MMORPG</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="teksti" id="teksti1">
      This program was a school project for a C++ course. Things got quite tight with it, as we only had a bit over a month to develop the whole project. 
      A lot of things we had planned had to be cut, but overall I am satisfied with how much we managed to accomplish
      with the low level tools we had. Especially regarding the graphical side of the project.
    </div>

    <div class="row" id="card2">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img  src="/scala3DShowcase.png" alt= "Scala 3D engine">
            <span class="card-title">Scala 3D</span>
          </div>
          <div class="card-content">
            <p>Simple 3D engine made with Scala from the ground up. 
              Uses perspective projection
              and supports flat shading with simple light sources.
            </p>
          </div>
          <div class="card-action">
            <a href="https://github.com/OsoWiz/Scala3DEngine">Scala 3D Engine</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="teksti" id="teksti2">
      My Scala 3D engine was also a school project for a Scala course we had. (Pattern?)
      And it was also my first encounter with 3D graphics. This really sparked my interest in the field and I have been hooked ever since.
    </div>

    <div class="row" id="card3">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img  src="/osomonShowcase.png" alt= "Osomon text game">
            <span class="card-title">Scala 3D</span>
          </div>
          <div class="card-content">
            <p>A text game based on the pokemon series.
            </p>
          </div>
          <div class="card-action">
            <a href="https://github.com/OsoWiz/Tekstipeli">Osomon</a>
          </div>
        </div>
      </div>
    </div>

    <div class="teksti" id="teksti3">
    This text game was one of the first "bigger" programs I made in the university.
    It had some code already done to get me started and really taught me some fundamentals of object oriented programming.
  </div>

  </div>

  <div id="footer">
    Link to my <a href="https://github.com/OsoWiz">Github</a> page
  </div>
      
  </body>
</html>
    